.navbar-fix{
/*  overflow: hidden;*/
  padding: 0px 0px;
  transition: 0.4s;
/*  position: fixed;*/
  width: 100%;
/*  top: 0;*/
/*  z-index: 99;*/
}


.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 80;
  left: 0;
  background-color: #DEE7E2;
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  text-decoration: none;
  background-color: #ADBEB4;
}

.main {
  margin-top : 60px;
  margin-left: 160px; 
  font-size: 15px; 
  padding: 0px 10px;
}

#js, #ajax, #json {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;  
}

#js:hover, #ajax:hover, #json:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#js span, #ajax span, #json span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

#js {
  background: url('../images/table/A/A.png') no-repeat;
  background-position: center;
}

#ajax {
  background: url('../images/table/J/J.png') no-repeat;
  background-position: center;
}

#json {
  background: url('../images/table/C/C.png') no-repeat;
  background-position: center;
}





.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

